.cp-head{
    background-color: #662549;
    height: 6vh;
    color: orange;
}
.cp-body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cp-main{
    height: 40%;
}
.cp-foot{
    height: 6vh;
    display: flex;
    align-content: center;
    justify-content: center;
}
.cp-save{
    margin: 0;
    padding: 0%;
    background-color: #662549;
    color: white;
    width: 8vw;
    height: 4vh;
}
.cp-save:hover{
    color: rgb(219, 214, 214);
    background-color: #662549;
    transition: 0.5s ease-in-out;
}
.pass{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.cpinput{
    width: 50%;
    display: flex;
    align-items: center;
}
.pass-res{
    font-size: smaller;
    width: 100%;
    font-weight: 300;
    line-height: 0;
    margin-left: 7.5%;
    color: red;
}
.cpass{
    margin-top: 3%;
}
.profilemodal {
    height: 50%;
    width: 25%;
}
.profileportal {
    height: 50%;
}
.cpmodal {
    height: 25%;
}
@media screen and (max-width: 767px){
    .profilemodal {
        width: 75%;
        margin: auto;
    }
    .profileportal {
        height: 50%;
    }
    .profdis {
        font-size: small;
    }
    .cp-head {
        font-size: x-small;
        height: 2vh;
    }
    .pass-res {
        font-size: x-small;
        margin-left: 4%;
    }
    .cp-save {
        width: 36vw;
        height: 4.5vh;
    }
    .cpmodal {
        width: 90%;
        margin: auto;
    }
    .cpass {
        margin-top: 5%;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .profilemodal {
        width: 50%;
        margin: auto;
    }
    .cp-save {
        width: 16vw;
        height: 4.5vh;
    }
    .cpmodal {
        width: 80%;
        margin: auto;
    }
}