.responsepage {
    height: 100vh;
    display: flex;
    align-items: center;
}
.failresp {
    color: red;
    font-size: x-large;
    font-weight: 800;
    text-align: center;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.paysuc {
    font-size: 8rem;
    font-weight: 800;
    color: green;
}
.successresp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payreciept {
    width: 50%;
    margin-top: 2%;
}
td{
    border: 2px solid black;
    text-align: center;
}
@media screen and (max-width:767px){
    .paysuc {
        font-size: 6rem;
    }
    .payreciept {
        width: 80%;
        font-size: small;
    }
}