.trans-item {
    height: 18rem;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.txn {
    text-align: center;
    font-weight: 600;
}

.id {
    font-weight: 800;
    font-size: 1.1rem;
}
.amt {
    color: green;
    font-size: x-large;
    font-weight: 800;
}
.txnid {
    color: #662549;
}
@media screen and (max-width:480px) {
    .trans-item {
        height: 15rem;
        font-size: small;
    }
    .id {
        font-size: small;
    }
}